venv/
checkpoints/
lightning_logs/
my_callback_checkpoints/
MNIST/
.idea/
__pycache__/
model_bert.pth
my_bert_checkpoints/
wandb/
model_gpt2.pth
large_text_dataset/czech_news_dataset_v2.jsonl
large_text_dataset/czech_news_dataset_v2.bin
my_gpt2_checkpoints/
pth_models/
large_text_dataset/czech_news_dataset_full_v2.bin
hpc_ckpt_*
litdata/
my_gpt2_big_checkpoints/
